<div class="flex cursor-pointer select-none">
    <div class="w-10 h-10 md:w-14 md:h-14  flex justify-center items-center text-lg md:text-4xl rounded-full border border-black bg-polandFlag bg-center bg-cover"
    *ngIf="currentLang === 'pl'"
    (click)="switchLang('en')">
        <!--PL-->
    </div>
    <div class="w-10 h-10 md:w-14 md:h-14 flex justify-center items-center text-lg md:text-4xl rounded-full border border-black bg-englishFlag bg-center bg-cover"
        *ngIf="currentLang === 'en'"
        (click)="switchLang('pl')">
        <!--EN-->
    </div>
</div>