<div class="flex justify-between items-center py-9 px-9 relative">
  <div class="px-16 py-[11px] border border-red-500">
    <span class="text-4xl font-normal">LOGO</span>
  </div>
  <div class="flex items-center gap-36">
    <div class="flex">
      <div class="px-7 py-2 text-4xl bg-gray-400">
        PL
      </div>
      <div class="px-7 py-2 text-4xl bg-red-300">
        EN
      </div>
    </div>
    <div class="w-20 h-20 border border-black bg-red-400 rounded-full cursor-pointer" 
         (click)="toggleClick()">
    </div>
    <div class="mr-10 p-2 absolute top-[117px] right-0 
                bg-white cursor-pointer shadow-md select-none" *ngIf="onClick">
      <div class="text-xl">My Profile</div>
      <hr class="my-2">
      <div (click)="onLogout()" class="text-xl">Log Out</div>
    </div>
  </div>
</div>
