<div>
    <div class="flex justify-center text-3xl mb-6">
        {{ 'invite-user' | translate }}
    </div>
    <form [formGroup]="form" class="flex flex-col justify-center">
        <div class="flex flex-col text-center items-center justify-center">
            <div class="mb-3 w-full">
                <input type="email"
                    class="appearance-none border rounded w-full lg:w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" formControlName="email" placeholder="Email">
            </div>
            <div class="mt-2 w-full lg:w-1/2 relative mb-2" [class.open]="roleDropdownOpen">
                <input type="text"
                    class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                    placeholder="Role" (click)="toggleRoleDropdown()" [class.rounded-t]="roleDropdownOpen"
                    [class.rounded]="!roleDropdownOpen" [value]="selectedRoleOption" readonly>
                <span
                    class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-1/2 -translate-y-1/2"
                    [class.rotate-180]="roleDropdownOpen" [class.rotate-0]="!roleDropdownOpen">
                    expand_more
                </span>
                <ul class="absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                    [class.scale-y-0]="!roleDropdownOpen" [class.scale-y-100]="roleDropdownOpen">
                    <li *ngFor="let option of dropdownOptions" class="py-2 px-3 cursor-pointer hover:bg-gray-100"
                        (click)="selectRoleOption(option)" [class.selected]="option === selectedRoleOption">
                        {{ option }}
                    </li>
                </ul>
            </div>
            <div class="mt-2 w-full lg:w-1/2 relative mb-3" [class.open]="groupDropdownOpen">
                <input type="text"
                    class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                    placeholder="Group" (click)="toggleGroupDropdown()" [class.rounded-t]="groupDropdownOpen"
                    [class.rounded]="!groupDropdownOpen" [value]="selectedGroupOption" readonly>
                <span
                    class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-1/2 -translate-y-1/2"
                    [class.rotate-180]="groupDropdownOpen" [class.rotate-0]="!groupDropdownOpen">
                    expand_more
                </span>
                <ul class="w-full absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150"
                    [class.scale-y-0]="!groupDropdownOpen" [class.scale-y-100]="groupDropdownOpen">
                    <li *ngFor="let option of groupDropdownOptions" class="py-2 px-3 cursor-pointer hover:bg-gray-100"
                        (click)="selectGroupOption(option)" [class.selected]="option === selectedGroupOption">
                        {{ option }}
                    </li>
                </ul>
            </div>
            <div class="mt-5 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded select-none
                 focus:outline-none focus:shadow-outline w-full lg:w-1/2  text-center cursor-pointer" (click)="inviteUser()">
                {{ 'submit' | translate }}
            </div>
        </div>
    </form>
    <notifier-container></notifier-container>
</div>