.logo {
    font-family: 'Bebas Neue', sans-serif;
}

.position {
    position: absolute;
    left: 164px;
    top: 18px;
}

.red-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.mobile-position {
    position: absolute;
    left: 32px;
    top: 4px;
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    .position {
        left: 133.5px;
        top: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 769px) {
    .position {
        left: 165px;
        top: 19px;
    }
}

@media only screen and (max-width: 640px) {
    .position {
        left: 109px;
        top: 4px;
    }
}