.logo {
    font-family: 'Bebas Neue', sans-serif;
}

.position {
    position: absolute;
    left: 164px;
    top: 18px;
}

.red-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.mobile-position {
    position: absolute;
    left: 32px;
    top: 4px;
}

@media only screen and (max-width: 600px) {
    .position {
        left: 109px;
        top: 4px;
    }
}