<div #header class="flex flex-row justify-between items-center relative py-1">
  <!-- PC LOGO -->
  <div *ngIf="showPcLogo" class="md:px-8 md:py-3 sm:px-6 sm:py-2 z-10">
    <div (click)="onLogo()" class="select-none cursor-pointer ">
      <span class="text-2xl md:text-3xl font-normal logo">BLOODCOUNT</span>
      <span class="logo text-1xl relative">| app
        <div class="rounded-md border bg-red-500 red-dot absolute"></div>
      </span>
    </div>
  </div>
  <!-- MOBILE LOGO -->
  <div *ngIf="!showPcLogo" class="md:px-8 md:py-3 sm:px-6 sm:py-2 z-10">
    <div (click)="onLogo()" class="select-none cursor-pointer ">
      <span class="text-2xl md:text-3xl font-normal logo">BC</span>
      <div class="mobile-position rounded-md border bg-red-500 red-dot"></div>
      <span class="logo text-1xl">| app</span>
    </div>
  </div>
  <div class="flex items-center gap-3 md:gap-5">
    <app-panel-button />
    <app-lang-switcher />
    <div class="relative">
      <div
        class="text-base md:text-xl w-28 h-8 flex justify-between transition duration-75 items-center shadow-lg bg-white select-none cursor-pointer z-[100] hover:bg-gray-100"
        [class.rounded-t-md]="onClick" [class.rounded-md]="!onClick">
        <div id="tapper" class="w-7 h-7 bg-[length:25px_25px] pr-14 pl-14 py-4 bg-account bg-center bg-no-repeat"
          (click)="toggleClick()">
        </div>
      </div>
      <div class="absolute top-full right-0 w-full bg-white shadow-lg cursor-pointer 
        select-none transition duration-150 transform origin-top rounded-b-md" [class.scale-y-0]="!onClick"
        [class.scale-y-100]="onClick">
        <app-popup />
      </div>
    </div>
  </div>