<div>
    <div class="bg-gray-100 flex text-center select-none mb-10">
        <div class="py-2 cursor-pointer flex-1" (click)="changeCategory(Roles.Student)"
            [class.border-b-4]="currentCategory === Roles.Student"
            [class.border-blue-500]="currentCategory === Roles.Student">
            {{ 'student' | translate }}
        </div>
        <div class="py-2 cursor-pointer flex-1" (click)="changeCategory(Roles.Teacher)"
            [class.border-b-4]="currentCategory === Roles.Teacher"
            [class.border-blue-500]="currentCategory === Roles.Teacher">
            {{ 'supervisor' | translate }}
        </div>
        <div class="py-2 cursor-pointer flex-1" (click)="changeCategory(Roles.Admin)"
            [class.border-b-4]="currentCategory === Roles.Admin"
            [class.border-blue-500]="currentCategory === Roles.Admin" *ngIf="userDetails.role == 'ROOT'">
            {{ 'admin' | translate }}
        </div>
    </div>
    <div class="overflow-x-auto h-[60vh] mb-2 relative border">
        <table class="w-full border" [class.blur]="openedPopup">
            <thead class="border">
                <tr>
                    <th class="py-2 w-4/12 border">Email</th>
                    <th class="py-2 w-4/12 border">{{ 'group' | translate }}</th>
                    <th class="py-2 w-4/12 border">{{ 'more' | translate }}</th>
                </tr>
            </thead>
            <tbody id="table-body" class="items-center text-center text-xs md:text-base" *ngIf="!isLoading">
                <tr *ngFor="let item of tableData">
                    <td class="border-b">{{ item.email }}</td>
                    <td class="border-b">{{ item.groupNumber }}</td>
                    <td class="border-b">
                        <div class="flex justify-center items-center">
                            <div class="text-blue-500  hover:text-blue-700 w-2/4 font-bold cursor-pointer py-2.5"
                                (click)="openPopup(item.id, item.email)" [class.pointer-events-none]="openedPopup">
                                {{ 'details' | translate }}
                            </div>
                            <div *ngIf="(userDetails.role == 'ROOT' || userDetails.role == 'ADMIN') && (currentCategory === Roles.Student || currentCategory === Roles.Teacher)"
                                class="text-red-500 hover:text-red-700 w-2/4 font-bold py-1 px-2 mt-1 text-xs  cursor-pointer"
                                (click)="deleteUser(item.id)" [class.pointer-events-none]="openedPopup">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </div>
                            <div (click)="banAdmin(item.id)"
                                class="text-red-500 select-none hover:text-red-700 w-2/4 font-bold cursor-pointer "
                                *ngIf="currentCategory === Roles.Admin && item.active && (activeBanId !== item.id || !isBanLoading)"
                                [class.pointer-events-none]="openedPopup">
                                Ban
                            </div>
                            <div (click)="banAdmin(item.id)"
                                class="text-red-500 select-none hover:text-red-700 w-2/4 font-bold cursor-pointer"
                                *ngIf="currentCategory === Roles.Admin && !item.active && (activeBanId !== item.id || !isBanLoading)"
                                [class.pointer-events-none]="openedPopup">
                                Unban
                            </div>
                            <app-loading *ngIf="isBanLoading && activeBanId === item.id"></app-loading>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="openedPopup"
            class="absolute right-0 border md:right-1/5 bottom-1/4 w-full h-80 bg-white shadow-2xl rounded-xl">
            <app-loading class="h-80" *ngIf="isLoading"></app-loading>
            <div class="p-4" *ngIf="!isLoading">
                <div class="flex justify-between mb-3">
                    <div>{{currentUserEmail}}</div>
                    <button class="float-right text-gray-500 hover:text-gray-700" (click)="closePopup()">{{ 'close' |
                        translate }}</button>
                </div>
                <div class="w-full h-60 overflow-y-auto">
                    <table class="w-full border text-xs">
                        <thead>
                            <tr>
                                <th class="py-2 w-1/6 border">{{ 'language' | translate }}</th>
                                <th class="py-2 w-1/6 border">{{ 'played-case-th' | translate }}</th>
                                <th class="py-2 w-1/6 border">{{ 'start-time' | translate }}</th>
                                <th class="py-2 w-1/6 border">{{ 'end-time' | translate }}</th>
                                <th class="py-2 w-1/6 border">{{ 'test-duration' | translate }}</th>
                                <th class="py-2 w-1/6 border">{{ 'score' | translate }} (%)</th>
                            </tr>
                        </thead>
                        <tbody id="table-body" class="items-center text-center">
                            <tr *ngFor="let history of userHistory">
                                <td class="border">{{ history.language}}</td>
                                <td class="border">{{ 'case' | translate }} {{ history.caseId}}</td>
                                <td class="border">{{ history.startTime | date:'dd/MM/yyyy, h:mm a' }}</td>
                                <td class="border">{{ history.endTime | date:'dd/MM/yyyy, h:mm a' }}</td>
                                <td class="border">{{ history.testDuration}}</td>
                                <td class="border">{{ history.score * 5}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="h-[48vh]">
            <app-no-data  *ngIf="tableData.length==0 && !isLoading">{{'users-no-data' | translate }}</app-no-data>
            <app-loading  *ngIf="tableData.length==0 && isLoading"></app-loading>
        </div>
    </div>
    <div class="flex" *ngIf="tableData.length!=0 && currentCategory === Roles.Student">
        <div class="flex flex-row mt-5 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded select-none
        focus:outline-none focus:shadow-outline text-center items-center cursor-pointer" (click)="export()">
            <span class="mr-1 material-symbols-outlined">
                download
            </span>
            <span class="ml-1">{{ 'export-to-excel' | translate }}</span>
        </div>
    </div>
    <notifier-container></notifier-container>
</div>