<div class="w-full bg-white rounded-md shadow-sm mb-6">
    <div class="p-7 px-5 lg:px-20">
      <div class="flex items-center justify-between">
        <div class="text-base md:text-2xl">
          {{ assessmentText }}
        </div>
        <div *ngIf="!noTimer" class="font-bold text-xs md:text-lg p-1 bg-gray-100 rounded-lg">
          <span class="minutes">{{ minutes }}</span>
          <span>:</span>
          <span class="seconds">{{ seconds }}</span>
        </div>
      </div>
    </div>
  </div>
  