<app-timer (timeUp)="submitTest()" [gameData]="gameData" [submitted]='submitted' [currentPage]='currentPage' [noTimer]="noTimer"></app-timer>
<app-white-box >
    <app-page1  *ngIf="currentPage=='ONE' && submitted=='IN_PROGRESS'" [displayedElements]="displayedElements" [displayedElements2]="displayedElements2" [gender]="gender"
    [age]="age" [answers]="answers" [testData]="testData" [savedAnswers]='savedAnswers' [gameId]="gameId"
    [userDetails]="userDetails" [currentPage]="currentPage" [nextPage]='nextPage' ></app-page1>
    
    <app-page2 *ngIf="currentPage=='TWO' && submitted=='IN_PROGRESS'" [msAssesmentTest]="msAssesmentTest" [answers]="answers" [savedAnswers]='savedAnswers'
    [userDetails]="userDetails" [currentPage]="currentPage" [nextPage]='nextPage' [testData]="testData" [gameId]="gameId"></app-page2>
    <app-page3 *ngIf="currentPage=='THREE'&& submitted=='IN_PROGRESS'"  [userDetails]='userDetails' [gender]="gender"
    [age]="age" [tableData]='tableData' [submitTest]='submitTest'[answers]="answers" [savedAnswers]='savedAnswers' [gameCaseDetails]="gameCaseDetails"></app-page3>
    <app-page4 *ngIf="submitted=='COMPLETED'" [score]="score" [age]="age" [gender]="gender" [gameCaseDetails]="gameCaseDetails"></app-page4>
</app-white-box>
<notifier-container></notifier-container>
