<app-timer *ngIf="!isGameLoading" (timeUp)="submitGame()" [gameData]="gameData" [submitted]='submitted'
    [currentPage]='currentPage' [isGameLoading]='isGameLoading' [noTimer]="noTimer"></app-timer>
<app-white-box *ngIf="!isGameLoading">
    <app-page1 *ngIf="currentPage=='ONE' && submitted=='IN_PROGRESS'" [displayedElements]="displayedElements"
        [displayedElements2]="displayedElements2" [gender]="gender" [age]="age" [answers]="answers"
        [testData]="testData" [savedAnswers]='savedAnswers' [gameId]="gameId" [userDetails]="userDetails"
        [currentPage]="currentPage" [nextPage]='nextPage' [gameCaseDetails]='gameCaseDetails'></app-page1>
    <app-page2 *ngIf="currentPage=='TWO' && submitted=='IN_PROGRESS'" [msAssesmentTest]="msAssesmentTest"
        [answers]="answers" [savedAnswers]='savedAnswers' [userDetails]="userDetails" [currentPage]="currentPage"
        [nextPage]='nextPage' [testData]="testData" [gameId]="gameId"></app-page2>
    <app-page3 *ngIf="currentPage=='THREE'&& submitted=='IN_PROGRESS'" [userDetails]='userDetails' [gender]="gender"
        [age]="age" [tableData]='tableData' [submitGame]='submitGame' [answers]="answers" [savedAnswers]='savedAnswers'
        [gameCaseDetails]="gameCaseDetails"></app-page3>
    <app-page4 *ngIf="submitted=='COMPLETED'" [score]="score" [age]="age" [gender]="gender"
        [gameCaseDetails]="gameCaseDetails"></app-page4>
</app-white-box>
<div *ngIf="isGameLoading" class="flex flex-col justify-center items-center h-screen">
    <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<notifier-container></notifier-container>