<div class="w-full min-h-screen bg-white">
  <div class="py-5 md:py-7 px-4 md:px-16 xl:px-28">
    <div class="text-2xl md:text-4xl font-normal p-1 md:p-5">
      Blood Count test
    </div>
    <hr class="mt-4 border-black">
    <div class="my-6 md:mt-8 mx-4 lg:mx-16 xl:mx-28 flex flex-col gap-5 md:gap-9">
      <div class="text-2xl md:text-4xl">Instructions</div>
      <div class="text-xl md:text-2xl leading-7 md:leading-9">
        Blood Count is a game in test format to establish the patience disease and provide right treatment.
      </div>
      <div class="text-xl md:text-2xl leading-7 md:leading-9">
        Test is divided into 2 sections: Part A and Part B. Part A is mandatory, part B is optional. To achieve the best results overall, it is recommended to finish both parts.
      </div>
      <div class="text-xl md:text-2xl leading-7 md:leading-9">
        Before you begin:
        <ol class="list-decimal ml-6 md:ml-12">
          <li>There's no option to pause. Make sure you will not be interrupted for 30 minutes.</li>
          <li>Clicking next means the section is finished and you are ready to continue. There is no option to go back.</li>
          <li>You cannot change language after starting the game.</li>
          <li>After finishing your test, you can receive comments from your teacher.</li>
        </ol>
      </div>
    </div>
    <div class="flex justify-center lg:justify-end">
      <div class="lg:my-28 mx-4 md:mx-32 px-4 lg:px-6 py-3 lg:py-5 border bg-gray-500 text-white text-xl md:text-2xl">
        Start game
      </div>
    </div>
  </div>
</div>
