<div class="w-full min-h-full bg-white">
    <div class="py-7 px-28">
        <div class="text-[40px] font-normal p-5">
            Blood Count test
        </div>
        <hr class="mt-4 border-black">
        <div class="mt-8 mx-28 flex flex-col gap-9">
            <div class="text-4xl">Instructions</div>
            <div class="text-[30px] leading-9">Blood Count is a game in test format to establish the patience disease
                and provide right
                treatment.</div>
            <div class="text-[30px] leading-9">Test is divided into 2 sections: Part A and Part B. Part A is mandatory,
                part B is
                optional. To achieve
                the best results overall, it is recommended to finish both parts.</div>
            <div class="text-[30px] leading-9">
                Before you begin:
                <ol class="list-decimal ml-12">
                    <li>
                        There's no option to pause. Make sure you will not be interrupted for 30 minutes.
                    </li>
                    <li>
                        Clicking next means the section is finished and you are ready to continue. There is no option to
                        go back.
                    </li>
                    <li>
                        You cannot change language after starting the game.
                    </li>
                    <li>
                        After finishing your test. You can receive comments from your teacher.
                    </li>
                </ol>
            </div>
        </div>
        <div class="flex justify-end">
            <div class="my-28 mx-32 px-8 py-6 border bg-gray-500 text-white text-[30px]">
                Start game
            </div>
        </div>
    </div>
</div>