<div class="overflow-x-auto">
    <div class="flex justify-center text-3xl mb-3">
        Cases
    </div>
    <div class="relative h-[75vh] mb-8">
        <table class="w-full border">
            <thead class="border">
                <tr>
                    <th class="py-2 w-1/5 border">Anemia Type</th>
                    <th class="py-2 w-1/5  border">Diagnosis</th>
                    <th class="py-2 w-1/5 border">First Range</th>
                    <th class="py-2 w-1/5 border">Second Range</th>
                    <th class="w-1/5">
                        <div class="flex items-center">
                            <div class="w-3/4 border-r">Abnormalities</div>
                            <div class="w-1/4">
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="table-body" class="items-center text-center" [class.blur]="openedPopup">
                <tr *ngFor="let item of displayedGroups">
                    <td class="border-b">{{ item.anemiaType }}</td>
                    <td class="border-b">{{ item.diagnosis }}</td>
                    <td class="border-b">{{ item.firstMinAge }} - {{ item.firstMaxAge }}</td>
                    <td class="border-b">{{ item.secondMinAge }} - {{ item.secondMaxAge }}</td>
                    <td class="border-b">
                        <div class="flex justify-center items-center">
                            <div (click)="openPopup(item)" [class.pointer-events-none]="openedPopup"
                                class="text-blue-500 hover:text-blue-700 w-3/4 font-bold cursor-pointer">
                                Details
                            </div>
                            <div class="text-red-500 hover:text-red-700 w-1/4 font-bold py-1 px-2  rounded cursor-pointer"
                                (click)="deletCase(item.id)" [class.pointer-events-none]="openedPopup">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="openedPopup"
            class="absolute right-0 md:right-20 overflow-y-auto bottom-1/3 w-full md:w-3/4 h-72 bg-white shadow-2xl rounded-xl">
            <div class="p-4">
                <div>
                    <button class="float-right text-gray-500 hover:text-gray-700" (click)="closePopup()">Close</button>
                </div>
                <table class="w-full border">
                    <thead>
                        <tr>
                            <th class="py-2 w-1/5 border">Parameter</th>
                            <th class="py-2 w-1/5 border">Unit</th>
                            <th class="py-2 w-1/5 border">Range</th>
                            <th class="py-2 w-1/5 border">Level Type</th>
                        </tr>
                    </thead>
                    <tbody id="table-body" class="items-center text-center">
                        <tr *ngFor="let abnormality of abnormalityData">
                            <td class="border">{{ abnormality.parameter }}</td>
                            <td class="border">{{ abnormality.unit }}</td>
                            <td class="border">{{ abnormality.minValue }} - {{ abnormality.maxValue }}</td>
                            <td class="border">
                                {{ abnormality.type }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="w-full mt-4 flex justify-center select-none">
        <nav class="inline-flex">
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                (click)="previousPage()" [class.opacity-50]="currentPage === 1">
                Previous
            </div>
            <ng-container *ngFor="let page of pages">
                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
                    [class.opacity-50]="currentPage === page" (click)="goToPage(page)">
                    {{ page }}
                </div>
            </ng-container>
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" (click)="nextPage()"
                [class.opacity-50]="currentPage === totalPages">
                Next
            </div>
        </nav>
    </div>
    <lib-toastify-toast-container></lib-toastify-toast-container>
</div>