<app-white-box>
    <div class="flex items-center mb-3">
        <div class="text-xl md:text-3xl">
            {{ 'ref-table-Uppercase' | translate }}
        </div>
        <div *ngIf="showTooltip" class="group relative w-max">
            <button (mouseenter)="showTooltipInfo = true" (mouseleave)="showTooltipInfo = false"
                class="w-4 h-4 rounded-full bg-red-400 text-white flex items-center justify-center hover:bg-red-800 cursor-pointer ml-2 mt-1">
                ?
            </button>
            <span *ngIf="showTooltipInfo"
                class="pointer-events-none absolute px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg -top-11 left-0 w-max transition-opacity opacity-100">
                {{ 'ref-table-tooltip-info' | translate }}
            </span>
        </div>
    </div>
    <div *ngIf="!showTooltip" class='py-2 px-5 bg-gray-100 rounded-md flex flex-row mb-5 items-center'>
        <div
            class="w-4 h-4 rounded-full bg-red-400 text-white text-xs flex items-center justify-center hover:bg-red-800 cursor-pointer mr-2">
            ?
        </div>
        <span class="text-xs">{{ 'ref-table-tooltip-info' | translate }}</span>
    </div>
    <div class="overflow-x-auto">
        <table class="table-auto border w-full text-center text-[10px]  md:text-base">
            <thead>
                <tr class="border-black">
                    <th class="px-2 py-2 border bg-gray-200">{{ 'name' | translate }}</th>
                    <th class="px-2 py-2 border bg-gray-200">{{ 'unit' | translate }}</th>
                    <th colspan="2" class="px-2 py-2 border bg-gray-200">{{ 'female' | translate }}</th>
                    <th colspan="2" class="px-2 py-2 border bg-gray-200">{{ 'male' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of cbcData">
                    <td class="border px-2 py-2">{{ data.parameter }}</td>
                    <td class="border px-2 py-2">{{ data.unit }}</td>
                    <td colspan="2" class="border px-2 py-2">{{ data.minFemale }} - {{ data.maxFemale }}</td>
                    <td colspan="2" class="border px-2 py-2">{{ data.minMale }} - {{ data.maxMale }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</app-white-box>