<div class="flex cursor-pointer select-none">
    <div class="w-8 h-6 md:w-10 md:h-7 flex justify-center items-center text-lg md:text-4xl rounded-lg border border-black bg-polandFlag bg-center bg-cover"
        *ngIf="currentLang === 'pl'" (click)="switchLang('en')">
        <!--PL-->
    </div>
    <div class="w-8 h-6 md:w-10 md:h-7 flex justify-center items-center text-lg md:text-4xl rounded-lg border border-black bg-englishFlag bg-center bg-cover"
        *ngIf="currentLang === 'en'" (click)="switchLang('pl')">
        <!--EN-->
    </div>
</div>