<div>
    <div *ngFor="let test of msAssesmentTest; let i = index">
        <div class="flex flex-row gap-4">
            <div class="flex items-center">
                <div
                    class="transform -translate-y-1/2 w-7 h-7 bg-black rounded-full text-center flex justify-center items-center">
                    <div class="text-white">
                        {{ i + 1 }}
                    </div>
                </div>
            </div>
            <div class="w-full bg-white border  rounded p-4 mb-4 text-xs md:text-base">
                <div class="font-semibold">{{ test.text }}</div>
                <div class="mt-2">
                    <label *ngFor="let option of test.answers" class="flex items-center">
                        <input type="radio" name="{{ test.id }}" [value]="option.text" class="mr-2"
                        [checked]="isAnswerSelected(test.id, option.id)" (click)="onAnswer(option.id, test.id)">
                        {{ option.text }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <div (click)="nextPage()" 
            class="w-full md:w-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 text-center rounded cursor-pointer select-none">
            {{ 'next' | translate }}
        </div>
    </div>
</div>