<div class="flex justify-center items-center h-screen">
  <div class="max-w-sm w-full">
    <!-- PC LOGO -->
    <div class="md:px-8 md:py-3 sm:px-6 sm:py-2 z-10 relative">
      <div class="flex justify-center items-center">
        <span class="text-2xl md:text-3xl font-normal logo">BLOODCOUNT</span>
        <span class="logo text-1xl relative">| app
          <div class="rounded-md border bg-red-500 red-dot absolute"></div>
        </span>
      </div>
    </div>

    <div class="bg-white shadow-md rounded px-8 py-8 pt-8">
      <div class="mb-4">
        <p class="text-xl font-bold">Please login to continue</p>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="email">
            Email:
          </label>
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" type="text" placeholder="Enter email" formControlName="email" required>
          <div *ngIf="formSubmitAttempt && form.get('email').value == ''">
            <app-error-message [enterEmail]="true"></app-error-message>
          </div>
        </div>
        <div class="mb-3">
          <label class="block text-gray-700 font-bold mb-2" for="password">
            Password:
          </label>
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password" type="password" placeholder="Password" formControlName="password" required>
          <div *ngIf="formSubmitAttempt && form.get('password').value == ''">
            <app-error-message [enterPassword]="true"></app-error-message>
          </div>
          <div *ngIf="formSubmitAttempt && form.get('password').value && form.get('email').value != ''">
            <app-error-message [invalidLogin]="invalidLogin"></app-error-message>
          </div>
        </div>
        <div class="mt-6 flex flex-col items-center gap-2">
          <button
            class="w-full bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Login
          </button>
          <div class="text-center">
            <div class="mb-2 border-b border-gray-300 pb-2">
              <a class="inline-block font-bold text-sm text-blue-500 hover:text-blue-800" routerLink="/forgot-password">
                Forgot Password?
              </a>
            </div>
            <div class="mt-2">
              <span class="text-sm text-gray-700">Don't have an account?</span>
              <a class="inline-block font-bold text-sm text-blue-500 hover:text-blue-800 ml-1" routerLink="/register">
                Register here.
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>