<div>
    <div class="bg-gray-100 flex text-center select-none mb-10">
        <div class="py-2 cursor-pointer flex-1" (click)="changeCategory(Roles.Student)"
            [class.border-b-4]="currentCategory === Roles.Student"
            [class.border-blue-500]="currentCategory === Roles.Student">
            {{ 'student' | translate }}
        </div>
        <div class="py-2 cursor-pointer flex-1" (click)="changeCategory(Roles.Teacher)"
            [class.border-b-4]="currentCategory === Roles.Teacher"
            [class.border-blue-500]="currentCategory === Roles.Teacher">
            {{ 'supervisor' | translate }}
        </div>
        <div class="py-2 cursor-pointer flex-1" (click)="changeCategory(Roles.Admin)"
            [class.border-b-4]="currentCategory === Roles.Admin"
            [class.border-blue-500]="currentCategory === Roles.Admin" *ngIf="userDetails.role == 'ROOT'">
            {{ 'admin' | translate }}
        </div>
    </div>
    <div class="overflow-x-auto h-[60vh] mb-2 relative">
        <table class="w-full border" [class.blur]="openedPopup">
            <thead class="border">
                <tr>
                    <th class="py-2 w-3/12 border">Email</th>
                    <th class="py-2 w-3/12 border">{{ 'group' | translate }}</th>
                    <th class="py-2 w-3/12 border">{{ 'more' | translate }}</th>
                </tr>
            </thead>
            <tbody id="table-body" class="items-center text-center" *ngIf="!isLoading">
                <tr *ngFor="let item of displayedUsers">
                    <td class="border-b ">{{ item.email }}</td>
                    <td class="border-b">{{ item.groupNumber }}</td>
                    <td class="border-b">
                        <div class="flex justify-center items-center">
                            <div class="text-blue-500  hover:text-blue-700 w-3/4 font-bold cursor-pointer"
                                (click)="openPopup(item.id, item.email)" [class.pointer-events-none]="openedPopup">
                                {{ 'details' | translate }}
                            </div>
                            <div *ngIf="(userDetails.role == 'ROOT' || userDetails.role == 'ADMIN') && (currentCategory === Roles.Student || currentCategory === Roles.Teacher)"
                                class="text-red-500 hover:text-red-700 w-1/4 font-bold py-1 px-2 mt-1 text-xs  cursor-pointer"
                                (click)="deleteUser(item.id)" [class.pointer-events-none]="openedPopup">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </div>
                            <div (click)="banAdmin(item.id)"
                                class="text-red-500 select-none hover:text-red-700 w-3/4 font-bold cursor-pointer"
                                *ngIf="currentCategory === Roles.Admin && item.active"
                                [class.pointer-events-none]="openedPopup">
                                Ban
                            </div>
                            <div (click)="banAdmin(item.id)"
                                class="text-red-500 select-none hover:text-red-700 w-3/4 font-bold cursor-pointer"
                                *ngIf="currentCategory === Roles.Admin && !item.active"
                                [class.pointer-events-none]="openedPopup">
                                Unban
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="openedPopup"
            class="absolute right-0 border md:right-1/5 bottom-1/4 w-full h-80 bg-white shadow-2xl rounded-xl">
            <div class="p-4">
                <div class="flex justify-between mb-3">
                    <div>{{currentUserEmail}}</div>
                    <button class="float-right text-gray-500 hover:text-gray-700" (click)="closePopup()">{{ 'close' |
                        translate }}</button>
                </div>
                <div class="w-full h-60 overflow-y-auto">
                    <table class="w-full border text-xs">
                        <thead>
                            <tr>
                                <th class="py-2 w-1/4 border">{{ 'start-time' | translate }}</th>
                                <th class="py-2 w-1/4 border">{{ 'end-time' | translate }}</th>
                                <th class="py-2 w-1/4 border">{{ 'test-duration' | translate }}</th>
                                <th class="py-2 w-1/4 border">{{ 'score' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody id="table-body" class="items-center text-center">
                            <tr *ngFor="let history of userHistory">
                                <td class="border">{{ history.startTime }}</td>
                                <td class="border">{{ history.endTime}}</td>
                                <td class="border">{{ history.testDuration}}</td>
                                <td class="border">{{ history.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center border w-full h-[48vh]"
            *ngIf="displayedUsers.length==0 && !isLoading">
            <div class="flex flex-col">
                <div class="flex justify-center">
                    <div class="w-24 h-24 bg-center bg-cover md:w-32 md:h-32 bg-noData"></div>
                </div>
                <div class="flex justify-center text-xl md:text-3xl font-bold select-none">No Data Found :(</div>
            </div>
        </div>
        <div class="px-8 py-3 flex justify-center mt-5" *ngIf="isLoading">
            <div class="select-none cursor-pointer flex flex-col">
                <div class="flex">
                    <span class="text-2xl md:text-3xl font-normal logo">BLOODCOUNT</span>
                    <div>
                        <div class=" rounded-full border bg-red-500 w-[10px] h-[10px]"></div>
                        <span class="logo text-1xl">| app</span>
                    </div>
                </div>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="displayedUsers.length!=0">
        <div class="mt-5 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded select-none
        focus:outline-none focus:shadow-outline text-center cursor-pointer" (click)="export()">
            {{ 'export-to-excel' | translate }}
        </div>
    </div>
    <div class="w-full mt-4 flex justify-center select-none" *ngIf="displayedUsers.length!=0">
        <nav class="inline-flex">
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                (click)="previousPage()" [class.opacity-50]="currentPage === 1">
                {{ 'prev' | translate }}
            </div>
            <ng-container *ngFor="let page of pages">
                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
                    [class.opacity-50]="currentPage === page" (click)="goToPage(page)">
                    {{ page }}
                </div>
            </ng-container>
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" (click)="nextPage()"
                [class.opacity-50]="currentPage === totalPages">
                {{ 'next' | translate }}
            </div>
        </nav>
    </div>
    <notifier-container></notifier-container>
</div>