<div class="w-full bg-white rounded-md shadow-sm mb-6">
    <div class="p-7 px-20">
        <div class="flex items-center justify-between">
            <div class="text-3xl text-center">
                Root Panel
            </div>
            <div class="flex justify-center font-bold text-sm text-gray-500">
                <span
                    class="hover:text-gray-700 cursor-pointer {{ selectedOption === 'manage all' ? 'text-gray-700' : '' }}"
                    (click)="selectOption('manage all')">
                    user
                </span>/
                <span
                    class="hover:text-gray-700 cursor-pointer {{ selectedOption === 'invite user' ? 'text-gray-700' : '' }}"
                    (click)="selectOption('invite user')">
                    invite
                </span>/
                <span
                    class="hover:text-gray-700 cursor-pointer {{ selectedOption === 'group manage' ? 'text-gray-700' : '' }}"
                    (click)="selectOption('group manage')">
                    groups
                </span>
            </div>
        </div>
    </div>
</div>