<div class="w-full bg-white rounded-md shadow-sm mb-6">
    <div class="p-7 px-5 lg:px-20">
        <div class="flex items-center justify-between">
            <div class="text-3xl text-center">
                Root Panel
            </div>
            <div class="flex justify-center font-bold text-sm text-gray-500 select-none">
                <span class="hover:text-gray-700 cursor-pointer">
                    <a [routerLink]="['/root', 'users']" [routerLinkActiveOptions]="{exact: true}"
                        [routerLinkActive]="'text-gray-700'">
                        users
                    </a>
                </span>/
                <span class="hover:text-gray-700 cursor-pointer">
                    <a [routerLink]="['/root', 'invite']" [routerLinkActiveOptions]="{exact: true}"
                        [routerLinkActive]="'text-gray-700'">
                        invite
                    </a>
                </span>/
                <span class="hover:text-gray-700 cursor-pointer">
                    <a [routerLink]="['/root', 'groups']" [routerLinkActiveOptions]="{exact: true}"
                        [routerLinkActive]="'text-gray-700'">
                        groups
                    </a>
                </span>/
                <span class="hover:text-gray-700 cursor-pointer">
                    <a [routerLink]="['/root', 'cases']" [routerLinkActiveOptions]="{exact: true}"
                        [routerLinkActive]="'text-gray-700'">
                        cases
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>