<div>
    <div class="flex text-3xl justify-center mb-8">
        {{ 'add-case' | translate }}
    </div>
    <div class="flex justify-center">
        <mat-horizontal-stepper [linear]="true" [formGroup]="form" *ngIf="!isMobile">
            <mat-step [stepControl]="form.get('step1')">
                <ng-template matStepLabel class="custom-step-label"> {{ 'affected-patient' | translate }}</ng-template>
                <div class="flex flex-col md:flex-row justify-center gap-5 mt-10">
                    <div class="relative" [class.open]="genderDropdownOpen">
                        <input type="text"
                            class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                            placeholder="Affected Gender" (click)="toggleGenderDropdown()"
                            [class.rounded-t]="genderDropdownOpen" [class.rounded]="!genderDropdownOpen"
                            [value]="selectedGenderOption" readonly>
                        <span 
                            class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-5 -translate-y-1/2"
                            [class.rotate-180]="genderDropdownOpen" [class.rotate-0]="!genderDropdownOpen">
                            expand_more
                        </span>
                        <ul class="absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                            [class.scale-y-0]="!genderDropdownOpen" [class.scale-y-100]="genderDropdownOpen">
                            <li *ngFor="let option of genderDropdownOptions"
                                class="py-2 px-3 cursor-pointer hover:bg-gray-100" (click)="selectGenderOption(option)"
                                [class.selected]="option === selectedGenderOption">
                                {{ option }}
                            </li>
                        </ul>
                    </div>
                    <div class="w-full md:w-1/2">
                        <div class="mb-3 relative">
                            <div class="absolute bottom-9 left-0">{{ 'first-range' | translate }}</div>
                            <input type="number" (input)="saveFormValues(3)"
                                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="first-min" formControlName="first-min" placeholder="Min age">
                        </div>
                        <div class="mb-3">
                            <input type="number" (input)="saveFormValues(4)"
                                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="first-max" formControlName="first-max" placeholder="Max age">
                        </div>
                        <div class="mt-4 flex justify-center" *ngIf="!showSecondRangeForm">
                            <div class="w-8 h-8 flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full select-none cursor-pointer relative"
                                (click)="addSecondRangeForm()">
                                <div class="text-2xl absolute bottom-[1px]">+</div>
                            </div>
                        </div>
                        <div class="mt-6" *ngIf="showSecondRangeForm">
                            <div class="mb-3 relative flex items-center">
                                <div class="absolute w-full bottom-9 left-0 flex justify-between items-center">
                                    <div>{{ 'second-range' | translate }}</div>
                                    <div class="w-5 h-4 flex items-center justify-center bg-red-500 hover:bg-red-700 font-bold text-white rounded-sm select-none cursor-pointer relative"
                                        (click)="removeSecondRangeForm()">
                                        <div class="text-base">-</div>
                                    </div>
                                </div>
                                <input type="number" (input)="saveFormValues(5)"
                                    class="appearance-none border rounded w-full  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="second-min" formControlName="second-min" placeholder="Min age">
                            </div>
                            <div class="mb-3">
                                <input type="number" (input)="saveFormValues(6)"
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="second-max" formControlName="second-max" placeholder="Max age">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end mt-5">
                    <button mat-stroked-button matStepperNext>{{ 'next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="form.get('step2')">
                <ng-template matStepLabel>{{ 'disease-info' | translate }}</ng-template>
                <div class="flex flex-col justify-center gap-5 mt-10">
                    <div>
                        <div class="relative" [class.open]="anemiaDropdownOpen">
                            <input type="text"
                                class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                                placeholder="Anemia Type" (click)="toggleAnemiaDropdown()"
                                [class.rounded-t]="anemiaDropdownOpen" [class.rounded]="!anemiaDropdownOpen"
                                [value]="selectedAnemiaOption" readonly>
                            <span
                                class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-5 -translate-y-1/2"
                                [class.rotate-180]="anemiaDropdownOpen" [class.rotate-0]="!anemiaDropdownOpen">
                                expand_more
                            </span>
                            <ul class="absolute left-0 right-0 max-h-32 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                                [class.scale-y-0]="!anemiaDropdownOpen" [class.scale-y-100]="anemiaDropdownOpen">
                                <li *ngFor="let option of anemiaTypesOptions"
                                    class="py-2 px-3 cursor-pointer hover:bg-gray-100"
                                    (click)="selectAnemiaOption(option)"
                                    [class.selected]="option === selectedAnemiaOption">
                                    {{ option }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 mt-5">
                        <textarea type="text" (input)="saveFormValues(2)" style="resize: none;" maxlength="250"
                            class="appearance-none border rounded w-full h-28 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="diagnosis" formControlName="diagnosis" placeholder="Diagnosis"></textarea>
                    </div>
                </div>
                <div class="flex justify-between mt-5">
                    <button mat-stroked-button matStepperPrevious>{{ 'back' | translate }}</button>
                    <button mat-stroked-button matStepperNext>{{ 'next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="form.get('step3')">
                <ng-template matStepLabel>{{ 'patient-details-1' | translate }}</ng-template>
                <div class="flex flex-col justify-center gap-5 mt-10">
                    <div>
                        <textarea type="text" (input)="saveFormValues(10)" style="resize: none;"
                            class="appearance-none border rounded w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="hr" formControlName="hr" placeholder="Heart Rate"></textarea>
                    </div>
                    <div>
                        <textarea type="text" (input)="saveFormValues(11)" style="resize: none;"
                            class="appearance-none border rounded w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="rr" formControlName="rr" placeholder="Blood Pressure BP"></textarea>
                    </div>
                </div>
                <div class="flex justify-between mt-5">
                    <button mat-stroked-button matStepperPrevious>{{ 'back' | translate }}</button>
                    <button mat-stroked-button matStepperNext>{{ 'next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="form.get('step4')">
                <ng-template matStepLabel>{{ 'patient-details-2' | translate }}</ng-template>
                <div class="flex flex-col justify-center gap-5 mt-10">
                    <div>
                        <textarea type="text" (input)="saveFormValues(12)" style="resize: none;"
                            class="appearance-none border rounded w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="physExam" formControlName="physExam" placeholder="Physical Examination"></textarea>
                    </div>
                    <div>
                        <textarea type="text" (input)="saveFormValues(13)" style="resize: none;"
                            class="appearance-none border rounded w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="infoCom" formControlName="infoCom" placeholder="Information and comments"></textarea>
                    </div>
                </div>
                <div class="flex justify-start mt-5">
                    <button mat-stroked-button matStepperPrevious>{{ 'back' | translate }}</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
        <mat-vertical-stepper [linear]="true" [formGroup]="form" *ngIf="isMobile">
            <mat-step [stepControl]="form.get('step1')">
                <ng-template matStepLabel>{{ 'affected-patient' | translate }}</ng-template>
                <div class="flex flex-col md:flex-row justify-center gap-5 mt-10">
                    <div class="relative" [class.open]="genderDropdownOpen">
                        <input type="text"
                            class="w-full text-xs border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                            placeholder="Affected Gender" (click)="toggleGenderDropdown()"
                            [class.rounded-t]="genderDropdownOpen" [class.rounded]="!genderDropdownOpen"
                            [value]="selectedGenderOption" readonly>
                        <span
                            class="material-symbols-outlined top-[18px] text-base font-bold transition duration-150 transform absolute right-3 -translate-y-1/2"
                            [class.rotate-180]="genderDropdownOpen" [class.rotate-0]="!genderDropdownOpen">
                            expand_more
                        </span>
                        <ul class="absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                            [class.scale-y-0]="!genderDropdownOpen" [class.scale-y-100]="genderDropdownOpen">
                            <li *ngFor="let option of genderDropdownOptions"
                                class="py-2 px-3 cursor-pointer text-xs hover:bg-gray-100" (click)="selectGenderOption(option)"
                                [class.selected]="option === selectedGenderOption">
                                {{ option }}
                            </li>
                        </ul>
                    </div>
                    <div class="w-full mt-2 md:w-1/2">
                        <div class="mb-3 relative">
                            <div class="absolute bottom-9 left-0">{{ 'first-range' | translate }}</div>
                            <input type="number" (input)="saveFormValues(3)"
                                class="appearance-none border text-xs rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="first-min" formControlName="first-min" placeholder="Min age">
                        </div>
                        <div class="mb-3">
                            <input type="number" (input)="saveFormValues(4)"
                                class="appearance-none border rounded w-full text-xs py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="first-max" formControlName="first-max" placeholder="Max age">
                        </div>
                        <div class="mt-4 flex justify-center" *ngIf="!showSecondRangeForm">
                            <div class="w-8 h-8 flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full select-none cursor-pointer relative"
                                (click)="addSecondRangeForm()">
                                <div class="text-2xl absolute bottom-[1px]">+</div>
                            </div>
                        </div>
                        <div class="mt-8" *ngIf="showSecondRangeForm">
                            <div class="mb-3 relative flex items-center">
                                <div class="absolute w-full bottom-9 left-0 flex justify-between items-center">
                                    <div>{{ 'second-range' | translate }}</div>
                                    <div class="w-5 h-4 flex items-center justify-center bg-red-500 hover:bg-red-700 font-bold text-white rounded-sm select-none cursor-pointer relative"
                                        (click)="removeSecondRangeForm()">
                                        <div class="text-base">-</div>
                                    </div>
                                </div>
                                <input type="number" (input)="saveFormValues(5)"
                                    class="appearance-none border rounded w-full text-xs py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="second-min" formControlName="second-min" placeholder="Min age"> 
                            </div>
                            <div class="mb-3">
                                <input type="number" (input)="saveFormValues(6)"
                                    class="appearance-none border rounded w-full text-xs py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="second-max" formControlName="second-max" placeholder="Max age">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end mt-5">
                    <button mat-stroked-button matStepperNext>{{ 'next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="form.get('step2')">
                <ng-template matStepLabel>{{ 'disease-info' | translate }} </ng-template>
                <div class="flex flex-col justify-center gap-5 mt-10">
                    <div>
                        <div class="relative" [class.open]="anemiaDropdownOpen">
                            <input type="text"
                                class="w-full border cursor-pointer text-xs rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                                placeholder="Anemia Type" (click)="toggleAnemiaDropdown()"
                                [class.rounded-t]="anemiaDropdownOpen" [class.rounded]="!anemiaDropdownOpen"
                                [value]="selectedAnemiaOption" readonly>
                            <span
                                class="material-symbols-outlined text-base font-bold transition duration-150 transform absolute right-3 top-[18px] -translate-y-1/2"
                                [class.rotate-180]="anemiaDropdownOpen" [class.rotate-0]="!anemiaDropdownOpen">
                                expand_more
                            </span>
                            <ul class="absolute left-0 right-0 max-h-32  overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                                [class.scale-y-0]="!anemiaDropdownOpen" [class.scale-y-100]="anemiaDropdownOpen">
                                <li *ngFor="let option of anemiaTypesOptions"
                                    class="py-2 px-3 cursor-pointer text-xs hover:bg-gray-100"
                                    (click)="selectAnemiaOption(option)"
                                    [class.selected]="option === selectedAnemiaOption">
                                    {{ option }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 mt-1">
                        <textarea type="text" (input)="saveFormValues(2)" style="resize: none;" maxlength="250"
                            class="appearance-none border rounded text-xs w-full h-28 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="diagnosis" formControlName="diagnosis" placeholder="Diagnosis"></textarea>
                    </div>
                </div>
                <div class="flex justify-between mt-5">
                    <button mat-stroked-button matStepperPrevious>{{ 'back' | translate }}</button>
                    <button mat-stroked-button matStepperNext>{{ 'next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="form.get('step3')">
                <ng-template matStepLabel>{{ 'patient-details-1' | translate }}</ng-template>
                <div class="flex flex-col justify-center gap-5 mt-10">
                    <div>
                        <textarea type="text" (input)="saveFormValues(10)" style="resize: none;"
                            class="appearance-none border text-xs rounded w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="hr" formControlName="hr" placeholder="Heart Rate"></textarea>
                    </div>
                    <div>
                        <textarea type="text" (input)="saveFormValues(11)" style="resize: none;"
                            class="appearance-none border text-xs rounded w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="rr" formControlName="rr" placeholder="Blood Pressure BP"></textarea>
                    </div>
                </div>
                <div class="flex justify-between mt-5">
                    <button mat-stroked-button matStepperPrevious>{{ 'back' | translate }}</button>
                    <button mat-stroked-button matStepperNext>{{ 'next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="form.get('step4')">
                <ng-template matStepLabel>{{ 'patient-details-2' | translate }}</ng-template>
                <div class="flex flex-col justify-center gap-5 mt-10">
                    <div>
                        <textarea type="text" (input)="saveFormValues(12)" style="resize: none;"
                            class="appearance-none border text-xs rounded w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="physExam" formControlName="physExam" placeholder="Physical Examination"></textarea>
                    </div>
                    <div>
                        <textarea type="text" (input)="saveFormValues(13)" style="resize: none;"
                            class="appearance-none border rounded text-xs w-full py-2 h-28 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="infoCom" formControlName="infoCom" placeholder="Information and comments"></textarea>
                    </div>
                </div>
                <div class="flex justify-start mt-5">
                    <button mat-stroked-button matStepperPrevious>{{ 'back' | translate }}</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
    <div class="w-full flex flex-col mb-6">
        <div class="flex justify-center mb-4">
            <hr class="mt-4 border-black w-full md:w-3/4">
        </div>
        <div class="flex justify-center mb-3">
            <div class="w-full md:w-3/4 flex flex-col bg-gray-200 rounded-md">
                <div *ngFor="let item of addedValues" class="flex flex-row my-1 justify-between items-center">
                    <div class="flex flex-col md:flex-row justify-between w-3/4">
                        <div>
                            Parameter: {{ item.parameter }}
                        </div>
                        <div>
                            Unit: {{ item.unit }}
                        </div>
                        <div>
                            Range: {{ item.minValue }} - {{ item.maxValue }}
                        </div>
                        <div>
                            Level Type: {{ item.type }}
                        </div>
                    </div>
                    <div class="bg-red-500 hover:bg-red-700 text-white font-bold p-1 px-3 rounded cursor-pointer text-center mr-1"
                        (click)="removeValue(item)">
                        -
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <form [formGroup]="parameterForm" class="w-full md:w-3/4">
                <div class="flex flex-col md:flex-row justify-center gap-2">
                    <div class="relative w-full md:w-1/4" [class.open]="parameterDropdownOpen">
                        <input type="text"
                            class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                            placeholder="Parameter" (click)="toggleParameterDropdown()"
                            [class.rounded-t]="parameterDropdownOpen" [class.rounded]="!parameterDropdownOpen"
                            [value]="selectedParameterOption" readonly>
                        <span
                            class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-1/2 -translate-y-1/2"
                            [class.rotate-180]="parameterDropdownOpen" [class.rotate-0]="!parameterDropdownOpen">
                            expand_more
                        </span>
                        <ul class="absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                            [class.scale-y-0]="!parameterDropdownOpen" [class.scale-y-100]="parameterDropdownOpen">
                            <li *ngFor="let option of parameterDropdownOptions"
                                class="py-2 px-3 cursor-pointer hover:bg-gray-100"
                                (click)="selectParameterOption(option)"
                                [class.selected]="option === selectParameterOption">
                                {{ option }}
                            </li>
                        </ul>
                    </div>
                    <div class="relative w-full md:w-1/4" [class.open]="unitDropdownOpen">
                        <input type="text"
                            class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                            placeholder="Unit" (click)="toggleUnitDropdown()" [class.rounded-t]="unitDropdownOpen"
                            [class.rounded]="!unitDropdownOpen" [value]="selectedUnitOption" readonly>
                        <span
                            class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-1/2 -translate-y-1/2"
                            [class.rotate-180]="unitDropdownOpen" [class.rotate-0]="!unitDropdownOpen">
                            expand_more
                        </span>
                        <ul class="absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                            [class.scale-y-0]="!unitDropdownOpen" [class.scale-y-100]="unitDropdownOpen">
                            <li *ngFor="let option of unitDropdownOptions"
                                class="py-2 px-3 cursor-pointer hover:bg-gray-100" (click)="selectUnitOption(option)"
                                [class.selected]="option === selectedUnitOption">
                                {{ option }}
                            </li>
                        </ul>
                    </div>
                    <div class="w-full md:w-1/5">
                        <input type="number" (input)="saveFormValues(8)"
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="parameter-min" formControlName="parameter-min" placeholder="Min value"
                            [class.pointer-events-none]="disabledRange">
                    </div>
                    <div class="w-full md:w-1/5">
                        <input type="number" (input)="saveFormValues(9)"
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="parameter-max" formControlName="parameter-max" placeholder="Max value"
                            [class.pointer-events-none]="disabledRange">
                    </div>
                    <div class="relative" [class.open]="levelTypeDropdownOpen">
                        <input type="text"
                            class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                            placeholder="Level Type" (click)="toggleLevelTypeDropdown()"
                            [class.rounded-t]="levelTypeDropdownOpen" [class.rounded]="!levelTypeDropdownOpen"
                            [value]="selectedLevelTypeOption" readonly>
                        <span
                            class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-1/2 -translate-y-1/2"
                            [class.rotate-180]="levelTypeDropdownOpen" [class.rotate-0]="!levelTypeDropdownOpen">
                            expand_more
                        </span>
                        <ul class="absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                            [class.scale-y-0]="!levelTypeDropdownOpen" [class.scale-y-100]="levelTypeDropdownOpen">
                            <li *ngFor="let option of levelTypeDropdownOptions"
                                class="py-2 px-3 cursor-pointer hover:bg-gray-100"
                                (click)="selectLevelTypeOption(option)"
                                [class.selected]="option === selectedLevelTypeOption">
                                {{ option }}
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded cursor-pointer text-center"
                            (click)="addValue()">
                            {{ 'add' | translate }}
                        </div>
                    </div>
                </div>
                <div class="flex justify-center md:justify-end mt-10">
                    <div (click)="createCaseWithAbnormality()"
                        class="w-full md:w-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 text-center rounded cursor-pointer">
                        {{ 'create' | translate }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="mb-6 border-black w-full">
    <app-case-table></app-case-table>
    <lib-toastify-toast-container></lib-toastify-toast-container>
</div>