<div class="overflow-x-auto">
    <div class="flex justify-center text-3xl mb-3">
        {{ 'cases' | translate }}
    </div>
    <div class="relative h-[75vh] mb-8 text-xs md:text-base">
        <table class="w-full border">
            <thead class="border">
                <tr>
                    <th class="py-2 w-2/12  border">Case number</th>
                    <th class="py-2 w-5/12 border">{{ 'anemia-type' | translate }}</th>
                    <th class="w-5/12">
                        <div class="flex items-center">
                            <div class="w-3/5 border-r">Full</div>
                            <div class="w-2/5">
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="table-body" class="items-center text-center" [class.blur]="openedPopup">
                <tr *ngFor="let item of displayedGroups">
                    <td class="border-b">{{ item.id }}</td>
                    <td class="border-b">{{ item.anemiaType }}</td>
                    <td class="border-b">
                        <div class="flex justify-center items-center">
                            <div (click)="openPopup(item)" [class.pointer-events-none]="openedPopup"
                                class="text-blue-500 hover:text-blue-700 w-3/5 font-bold cursor-pointer">
                                {{ 'details' | translate }}
                            </div>
                            <div class="text-red-500 hover:text-red-700 w-2/5 font-bold py-1 px-2  rounded cursor-pointer"
                                (click)="deletCase(item.id)" [class.pointer-events-none]="openedPopup"
                                *ngIf="userDetails.role == 'ROOT'">
                                <span class="material-symbols-outlined">
                                    Delete
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="openedPopup"
            class="absolute overflow-y-auto top-0 w-full pb-1 min-h-[288px] border bg-white shadow-2xl rounded-xl">
            <div class="p-4 flex flex-col">
                <div>
                    <button class="float-right text-gray-500 hover:text-gray-700" (click)="closePopup()">Close</button>
                </div>
                <span class="flex font-bold text-base md:text-1xl">Case #{{caseDetails.id}}</span>
                <div class="flex flex-col p-2 rounded-md bg-gray-100">
                    <div>
                        Type of anemia: {{caseDetails.anemiaType}}
                    </div>
                    <div>
                        Diagnosis: {{caseDetails.diagnosis}}
                    </div>
                    <div>
                        Affected Gender: {{caseDetails.affectedGender}}
                    </div>
                    <div>
                        First Range: {{ caseDetails.firstMinAge }} - {{ caseDetails.firstMaxAge }}
                    </div>
                    <div>
                        Second Range: {{ caseDetails.secondMinAge }} - {{ caseDetails.secondMaxAge }}
                    </div>
                    <div>
                        Heart Rate: {{ caseDetails.hr }}
                    </div>
                    <div>
                        Blood Presure: {{caseDetails.rr}}
                    </div>
                    <div>
                        Physical Examination: {{caseDetails.physExam}}
                    </div>
                </div>
                <div class="mt-8 font-bold flex justify-center text-center text-base md:text-xl">Abnormalities</div>
                <table class="w-full border">
                    <thead>
                        <tr>
                            <th class="py-2 w-1/5 border">{{ 'exam-table-th-param' | translate }}</th>
                            <th class="py-2 w-1/5 border">{{ 'unit' | translate }}</th>
                            <th class="py-2 w-1/5 border">{{ 'range' | translate }}</th>
                            <th class="py-2 w-1/5 border">{{ 'level-type' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody id="table-body" class="items-center text-center">
                        <tr *ngFor="let abnormality of abnormalityData">
                            <td class="border">{{ abnormality.parameter }}</td>
                            <td class="border">{{ abnormality.unit }}</td>
                            <td class="border">{{ abnormality.minValue }} - {{ abnormality.maxValue }}</td>
                            <td class="border">{{ abnormality.type }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="w-full mt-4 flex justify-center select-none" [class.hidden]="openedPopup">
        <nav class="inline-flex">
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                (click)="previousPage()" [class.opacity-50]="currentPage === 1">
                {{ 'prev' | translate }}
            </div>
            <ng-container *ngFor="let page of pages">
                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
                    [class.opacity-50]="currentPage === page" (click)="goToPage(page)">
                    {{ page }}
                </div>
            </ng-container>
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" (click)="nextPage()"
                [class.opacity-50]="currentPage === totalPages">
                {{ 'next' | translate }}
            </div>
        </nav>
    </div>
    <notifier-container></notifier-container>
</div>