<div class="overflow-x-auto">
    <div class="flex justify-center text-3xl mb-3">
        {{ 'cases' | translate }}
    </div>
    <div class="flex justify-end mb-1">
        <mat-chip-listbox aria-label="Select language" class="w-32">
            <mat-chip-option value="EN" (selectionChange)="onLanguageChange('EN')" selected>EN</mat-chip-option>
            <mat-chip-option value="PL" (selectionChange)="onLanguageChange('PL')">PL</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <div class="relative h-[75vh] mb-8 text-xs md:text-base">
        <table class="w-full border">
            <thead class="border">
                <tr>
                    <th class="py-2 w-2/12 border">{{ 'case-number1' | translate }}</th>
                    <th class="py-2 w-5/12 border">{{ 'anemia-type' | translate }}</th>
                    <th class="w-5/12">
                        <div class="flex items-center">
                            <div class="w-3/5 border-r">{{ 'full' | translate }}</div>
                            <div class="w-2/5"></div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="table-body" class="items-center text-center" [class.blur]="openedPopup"
                *ngIf="tableData.length!=0">
                <tr *ngFor="let item of displayedGroups">
                    <td class="border-b">{{ item.id }}</td>
                    <td class="border-b">{{ item.anemiaType }}</td>
                    <td class="border-b">
                        <div class="flex justify-center items-center">
                            <div (click)="openPopup(item)" [class.pointer-events-none]="openedPopup"
                                class="text-blue-500 hover:text-blue-700 w-3/5 font-bold cursor-pointer">
                                {{ 'details' | translate }}
                            </div>
                            <div class="text-red-500 hover:text-red-700 w-2/5 font-bold py-1 px-2  rounded cursor-pointer"
                                (click)="deletCase(item.id)" [class.pointer-events-none]="openedPopup"
                                *ngIf="userDetails.role == 'ROOT'">
                                <span class="material-symbols-outlined">
                                    Delete
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="openedPopup"
            class="absolute overflow-y-auto top-0 w-full pb-1 min-h-[288px] border bg-white shadow-2xl rounded-xl">
            <div class="p-4 flex flex-col">
                <div>
                    <button class="float-right text-gray-500 hover:text-gray-700" (click)="closePopup()">{{ 'close' |
                        translate }}</button>
                </div>
                <span class="flex font-bold text-base md:text-1xl">{{ 'case' | translate }} #{{caseDetails.id}}</span>
                <div class="flex flex-col p-2 rounded-md bg-gray-100">
                    <div>
                        {{ 'type-of-anemia' | translate }} {{caseDetails.anemiaType}}
                    </div>
                    <div>
                        {{ 'exam-patient-diagnosis' | translate }} {{caseDetails.diagnosis}}
                    </div>
                    <div>
                        {{ 'exam-patient-gender' | translate }} {{caseDetails.affectedGender}}
                    </div>
                    <div>
                        {{ 'first-range' | translate }} {{ caseDetails.firstMinAge }} - {{ caseDetails.firstMaxAge }}
                    </div>
                    <div>
                        {{ 'second-range' | translate }} {{ caseDetails.secondMinAge }} - {{ caseDetails.secondMaxAge }}
                    </div>
                    <div>
                        HR: {{ caseDetails.hr }}
                    </div>
                    <div>
                        RR: {{caseDetails.rr}}
                    </div>
                    <div>
                        {{ 'physical-examination' | translate }} {{caseDetails.physExam}}
                    </div>
                </div>
                <div class="mt-8 font-bold flex justify-center text-center text-base md:text-xl">{{ 'abnormalities' |
                    translate }}</div>
                <table class="w-full border">
                    <thead>
                        <tr>
                            <th class="py-2 w-1/5 border">{{ 'exam-table-th-param' | translate }}</th>
                            <th class="py-2 w-1/5 border">{{ 'unit' | translate }}</th>
                            <th class="py-2 w-1/5 border">{{ 'range' | translate }}</th>
                            <th class="py-2 w-1/5 border">{{ 'level-type' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody id="table-body" class="items-center text-center">
                        <tr *ngFor="let abnormality of abnormalityData">
                            <td class="border">{{ abnormality.parameter }}</td>
                            <td class="border">{{ abnormality.unit }}</td>
                            <td class="border">{{
                                abnormality.unit === '%'
                                ? (abnormality.minValue * 100) + ' - ' + (abnormality.maxValue * 100)
                                : abnormality.minValue + ' - ' + abnormality.maxValue
                                }}</td>
                            <td class="border">{{ abnormality.type }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex justify-center items-center border w-full h-[48vh]" *ngIf="tableData.length==0 && !isLoading">
            <div class="flex flex-col">
                <div class="flex justify-center">
                    <div class="w-24 h-24 bg-center bg-cover md:w-32 md:h-32 bg-noData"></div>
                </div>
                <div class="flex justify-center text-xl md:text-3xl font-bold select-none">{{ 'cases-no-data' |
                    translate }}
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center border w-full h-[48vh]" *ngIf="tableData.length==0 && isLoading">
            <svg aria-hidden="true"
                class="inline w-6 h-6 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-gray-400"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
        </div>
    </div>
    <div class="w-full mt-4 flex justify-center select-none" [class.hidden]="openedPopup" *ngIf="tableData.length!=0">
        <nav class="inline-flex">
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                (click)="previousPage()" [class.opacity-50]="currentPage === 1">
                < </div>
                    <ng-container *ngFor="let page of pages">
                        <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
                            [class.opacity-50]="currentPage === page" (click)="goToPage(page)">
                            {{ page }}
                        </div>
                    </ng-container>
                    <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                        (click)="nextPage()" [class.opacity-50]="currentPage === totalPages">
                        >
                    </div>
        </nav>
    </div>
    <notifier-container></notifier-container>
</div>