<div class='flex flex-col'>
    <div class='fles flex-col'>
        <div class='justify-start text-base md:text-2xl mb-1'>
            Clinical case
        </div>
        <div class='h-20 py-2 px-5 bg-gray-100 rounded-md text-base'>
            {{gameCaseDetails.infoCom}}
        </div>
    </div>
    <div class='fles flex-col mt-5'>
        <div class='justify-start text-base md:text-2xl mb-1'>
            Patient Information
        </div>
        <div class='py-2 px-5 bg-gray-100 rounded-md flex flex-col text-base'>
            <div>Age: {{age}}</div>
            <div>Gender: {{gender}}</div>
            <div>Vital Signs: {{gameCaseDetails.vitalSigns}}</div>
            <div>Heart Rate: {{gameCaseDetails.hr}}</div>
            <div>Blood Presure: {{gameCaseDetails.rr}}</div>
            <div>Physical examination: {{gameCaseDetails.physExam}}</div>
        </div>
    </div>
        <div class="mt-14">
            <div> 
                <div class="text-base md:text-2xl mb-2">
                    Patient morphology table
                </div>
                <table class="border w-full text-center text-[8px] md:text-base">
                    <thead>
                        <tr class="border-black bg-gray-200">
                            <th class="px-2 py-2 border">{{ 'exam-table-th-param' | translate }}</th>
                            <th class="px-2 py-2 border">Unit</th>
                            <th class="px-2 py-2 border">{{ 'value' | translate }}</th>
                            <th class="px-2 py-2 border">{{ 'range' | translate }}</th>
                            <th class="px-2 py-2 border">{{ 'level-type' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of tableData">
                            <td class="border px-2 py-2">{{ data.parameter }}</td>
                            <td class="border px-2 py-2">{{ data.unit }}</td>
                            <td class="border px-2 py-2">{{ data.value }}</td>
                            <td class="border px-2 py-2">{{ data.referenceValueRange }}</td>
                            <td class="border px-2 py-2">{{ data.levelType }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex justify-center mt-5">
            <div (click)="submitTest()" 
                class="w-full md:w-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 text-center rounded cursor-pointer select-none">
                {{ 'submit' | translate }}
            </div>
        </div>
</div>
