<div class="flex gap-2 text-xl">
    <div class="py-1 px-2  text-center border border-black border-dashed hover:border-solid hover:bg-gray-200 select-none cursor-pointer transition duration-150 transform rounded-md" hidden>Teacher</div>
    <div class="py-1 px-2  text-center border border-black border-dashed hover:border-solid hover:bg-gray-200 select-none cursor-pointer transition duration-150 rounded-md" hidden>Admin</div>
    <div class="py-1 px-2  text-center border border-black border-dashed hover:border-solid hover:bg-gray-200 select-none cursor-pointer transition duration-150 rounded-md" (click)="onRoot()">Root</div>
</div>