<app-timer></app-timer>
<app-white-box>
    <div class="max-w-2xl mx-auto">
        <div *ngFor="let faq of faqs" class="bg-white border rounded p-4 mb-4">
            <div class="font-semibold">{{ faq.question }}</div>
            <div class="mt-2">
                <label *ngFor="let option of faq.options" class="flex items-center">
                    <input type="radio" name="faq_{{ faq.id }}" [value]="option" class="mr-2">
                    {{ option }}
                </label>
            </div>
        </div>
    </div>
</app-white-box>