<div class="flex justify-center">
    <h1 mat-dialog-title>BloodCount</h1>
</div>
<div class="mb-4">
    <div mat-dialog-content> <!-- Add a margin-top here -->
        You are currently on the exam page. Are you sure you want to leave?
    </div>
</div>
<div class="flex justify-center">
    <mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial>No</button>
        <button mat-button mat-dialog-close [mat-dialog-close]="true">Yes</button>
    </mat-dialog-actions>
</div>
