<div class="flex justify-center items-center h-screen">
    <div class="max-w-sm w-full">
      <div class="bg-white shadow-md rounded px-8 py-8 pt-8">
        <div class="mb-4">
          <p class="text-xl font-bold">New password</p>
        </div>
        <form class="flex flex-col gap-2" [formGroup]="form">
            <div class="flex flex-col gap-2">
              <label for="new-password" class="w-full text-lg font-medium">New Password</label>
              <div>
                <div>
                  <input id="new-password" type="password" formControlName="newPassword"
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="New password" required>
                </div>
                <app-error-message *ngIf="formSubmitAttempt" [isInvalidPassword]="isFieldInvalid('newPassword')">
                </app-error-message>
              </div>
              <label for="confirm-password" class="w-full text-lg font-medium">Confirm Password</label>
              <div>
                <div>
                  <input id="confirm-password" formControlName="confirmPassword" type="password"
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder='Confirm new password' required>
                </div>
                <div *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword').value !== ''">
                  <app-error-message *ngIf="formSubmitAttempt" [passwordMissMatch]="true"></app-error-message>
                </div>
                <app-error-message *ngIf="formSubmitAttempt"
                  [isInvalidConfirmPassword]="isFieldInvalid('confirmPassword')"></app-error-message>
              </div>
            </div>
            <div class="flex flex-col mt-2">
              <div class="flex">
                <div (click)="changePassword()" class="bg-gray-500 mt-1 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded select-none
                      focus:outline-none focus:shadow-outline w-full text-center cursor-pointer">
                Change Password
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>