<div class="flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center w-full mb-8" *ngIf="userDetails.role == 'ROOT' || userDetails.role == 'ADMIN'">
        <div class="text-3xl flex justify-center mb-4">{{ 'add-groups' | translate }}</div>
        <div class="flex justify-center">
            <form [formGroup]="form" class="w-full md:w-3/4">
                <div class="flex flex-col md:flex-row justify-center gap-2">
                    <div>
                        <input type="text"
                            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="groupName" formControlName="groupName" placeholder="Group Name">
                    </div>
                    <div class="relative" [class.open]="groupTypeDropdownOpen">
                        <input type="text"
                            class="w-full border cursor-pointer rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
                            placeholder="Group Type" (click)="toggleGroupTypeDropdown()"
                            [class.rounded-t]="groupTypeDropdownOpen" [class.rounded]="!groupTypeDropdownOpen"
                            [value]="selectedGroupTypeOption" readonly>
                        <span
                            class="material-symbols-outlined text-xl font-bold transition duration-150 transform absolute right-3 top-1/2 -translate-y-1/2"
                            [class.rotate-180]="groupTypeDropdownOpen" [class.rotate-0]="!groupTypeDropdownOpen">
                            expand_more
                        </span>
                        <ul class="absolute left-0 right-0 max-h-48 overflow-y-auto bg-white border rounded-b transition origin-top duration-150 z-20"
                            [class.scale-y-0]="!groupTypeDropdownOpen" [class.scale-y-100]="groupTypeDropdownOpen">
                            <li *ngFor="let option of groupTypeDropdownOptions"
                                class="py-2 px-3 cursor-pointer hover:bg-gray-100"
                                (click)="selectGroupTypeOption(option)"
                                [class.selected]="groupTypeDropdownOpen && option === selectedGroupTypeOption">
                                {{ option }}
                            </li>
                        </ul>
                    </div>
                    <div (click)="createGroup()"
                        class="w-full md:w-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 text-center rounded cursor-pointer">
                        {{ 'create' | translate }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="mt-4 border-black w-full mb-5" *ngIf="userDetails.role == 'ROOT' || userDetails.role == 'ADMIN'">
    <div class="w-full lg:w-1/2 h-[60vh] mb-3 relative">
        <div [class.blur]="openedPopup">
            <div class="p-2" *ngFor="let group of displayedGroups">
                <div class="bg-white rounded-lg shadow-lg p-4 flex justify-between">
                    <div class="flex flex-col">
                        <div class="text-gray-700 font-bold text-xl mb-2">Group {{ group.groupNumber }}</div>
                        <div class="text-gray-600 mb-2">Total: {{ group.totalParticipants }}</div>
                    </div>
                    <div class="flex items-center">
                        <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer select-none"
                            [class.pointer-events-none]="openedPopup" (click)="openPopup(group.groupNumber)"
                            (click)="selectedGroup = group">
                            {{ 'details' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="openedPopup"
            class="absolute right-0 md:right-1/5 bottom-1/4 w-full h-80 bg-white border shadow-2xl rounded-xl">
            <div class="p-4">
                <div class="flex justify-between">
                    <div>
                        <button class="float-right text-red-500 hover:text-red-700"
                            (click)="deleteGroup(this.selectedGroup)" *ngIf="userDetails.role == 'ROOT' || userDetails.role == 'ADMIN'">{{ 'delete-group' | translate }}</button>
                    </div>
                    <button class="float-right text-gray-500 hover:text-gray-700" (click)="closePopup()">{{ 'close' | translate }}</button>
                </div>
                <div class="w-full h-60 overflow-y-auto">
                    <table class="w-full border text-xs">
                        <thead>
                            <tr>
                                <th class="py-2 w-2/5 border">Email</th>
                                <th class="py-2 w-1/5 border">{{ 'role' | translate }}</th>
                                <th class="py-2 w-2/5 border">
                                    <div class="flex items-center">
                                        <div class="w-3/4 border-r">{{ 'more' | translate }}</div>
                                        <div class="w-1/4">
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-body" class="items-center text-center">
                            <tr *ngFor="let user of groupParticipants">
                                <td class="border">{{ user.email }}</td>
                                <td class="border">{{ user.role }}</td>
                                <td class="border">
                                    <div class="flex justify-center items-center">
                                        <div class="text-blue-500 hover:text-blue-700 w-3/4 font-bold cursor-pointer" (click)="openPopup2(user.id, user.email)">
                                            {{ 'details' | translate }}
                                        </div>
                                        <div (click)="deleteUserFromGroup(user.groupNumber, user.id)"  *ngIf="userDetails.role == 'ROOT' || userDetails.role == 'ADMIN'"
                                            class="text-red-500 hover:text-red-700 w-1/4 font-bold py-1 px-2 mt-1 text-xs  cursor-pointer">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex justify-end">
                    <div (click)="clearGroup(this.selectedGroup)"  *ngIf="userDetails.role == 'ROOT' || userDetails.role == 'ADMIN'" class="text-red-500 hover:text-red-700 font-bold py-1 px-2 mt-1 text-xs cursor-pointer">
                        {{ 'clear-group' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="openedPopup2"
            class="absolute right-0 md:right-1/5 bottom-1/4 w-full h-80 bg-white border shadow-2xl rounded-xl">
            <div class="p-4">
                <div class="flex justify-between mb-3">
                    <div>{{currentUserEmail}}</div>
                    <button class="float-right text-gray-500 hover:text-gray-700" (click)="closePopup2()">{{ 'close' | translate }}</button>
                </div>
                <div class="w-full h-60 overflow-y-auto">
                    <table class="w-full border text-xs">
                        <thead>
                            <tr>
                                <th class="py-2 w-1/4 border">Start Time</th>
                                <th class="py-2 w-1/4 border">End Time</th>
                                <th class="py-2 w-1/4 border">Test Duration</th>
                                <th class="py-2 w-1/4 border">Score</th>
                            </tr>
                        </thead>
                        <tbody id="table-body" class="items-center text-center">
                            <tr *ngFor="let history of userHistory">
                                <td class="border">{{ history.startTime }}</td>
                                <td class="border">{{ history.endTime}}</td>
                                <td class="border">{{ history.testDuration}}</td>
                                <td class="border">{{ history.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mt-4 flex justify-center select-none">
        <nav class="inline-flex">
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                (click)="previousPage()" [class.opacity-50]="currentPage === 1">
                {{ 'prev' | translate }}
            </div>
            <ng-container *ngFor="let page of pages">
                <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
                    [class.opacity-50]="currentPage === page" (click)="goToPage(page)">
                    {{ page }}
                </div>
            </ng-container>
            <div class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" (click)="nextPage()"
                [class.opacity-50]="currentPage === totalPages">
                {{ 'next' | translate }}
            </div>
        </nav>
    </div>
</div>
<notifier-container></notifier-container>